node_modules
**/node_modules
dist
**/dist
.git
.gitignore
coverage
**/coverage
*.log
.env
.env.*
tmp
**/tmp
test
**/__tests__
*.spec.ts
*.test.ts
.vscode
.idea
.DS_Store
*.md
.prettierrc
eslint.config.mjs
