[submodule "infrastructure/baas/sdk"]
	path = infrastructure/baas/sdk
	url = git@github.com:Univers42/mini-baas-sdk.git
[submodule "infrastructure/baas/mini-baas-infra"]
	path = infrastructure/baas/mini-baas-infra
	url = git@github.com:Univers42/mini-baas-infra.git
[submodule "vendor/scripts"]
	path = vendor/scripts
	url = git@github.com:Univers42/scripts.git
[submodule "apps/osionos/app"]
	path = apps/osionos/app
	url = git@github.com:Univers42/osionos.git
[submodule "apps/mail"]
	path = apps/mail
	url = git@github.com:Univers42/osionos-mail.git
[submodule "apps/calendar"]
	path = apps/calendar
	url = git@github.com:Univers42/osionos-calendar.git
