---
import type { CharacterGuide } from '../../types/content';
import CharacterIllustration from '../svg/CharacterIllustration.astro';

type Props = {
	character: CharacterGuide;
};

const { character } = Astro.props;
---

<article class:list={["character-card", character.paperClass]} data-guide-card>
	<div>
		<CharacterIllustration kind={character.kind} />
	</div>
	<h3>{character.title}</h3>
	<p>{character.description}</p>
</article>
