---
import type { PowerCard as PowerCardData } from '../../types/content';
import PowerIllustration from '../svg/PowerIllustration.astro';

type Props = {
	card: PowerCardData;
};

const { card } = Astro.props;
---

<article class:list={["power-card", card.rotation]}>
	<PowerIllustration type={card.illustration} />
	<h3>{card.title}</h3>
	<p>{card.description}</p>
</article>
