---
import SiteFooter from './SiteFooter.astro';
import SiteHeader from './SiteHeader.astro';
import SketchBackground from './SketchBackground.astro';
import SvgDefs from './SvgDefs.astro';
---

<a href="#main-content" class="skip-link">Skip to main content</a>
<div aria-live="polite" aria-atomic="true" class="visually-hidden" id="global-announcer"></div>
<canvas id="paper-grain"></canvas>
<SvgDefs />
<SketchBackground />
<SiteHeader />
<main id="main-content" tabindex="-1">
	<span id="top" class="visually-hidden" aria-hidden="true"></span>
	<slot />
</main>
<SiteFooter />
